<% function toDecimal2(x) {
var f = parseFloat(x);
if (isNaN(f)) {
return false;
}
var f = Math.round(x*100)/100;
var s = f.toString();
var rs = s.indexOf('.');
if (rs < 0) {
rs = s.length;
s += '.';
}
while (s.length <= rs + 2) {
s += '0';
}
return s;
}%>
<% function toDecimal3(x) {
var f = parseFloat(x);
if (isNaN(f)) {
return false;
}
var f = Math.round(x*100)/100;
var s = f.toString();
var rs = s.indexOf('.');
if (rs < 0) {
rs = s.length;
s += '.';
}
while (s.length <= rs + 3) {
s += '0';
}
return s;
}%>
<%function convertPricetypeToText(price_type){
switch(price_type){
case '00':
var text='正价';
break;
case '01':
var text='特价';
break;
case '02':
var text='满减';
break;
case '03':
var text='会员';
break;
case '04':
var text='捆绑';
break;
case '05':
var text='奇偶';
break;
case '06':
var text='赠品';
break;
case '07':
var text='折让';
break;
}
return text;
}%>

<%function abs(x){
var x = Math.abs(x);
return x;
}%>


<ul class="list-group ul-cart no-margining">
    <% _.each(obj,function(e,i){ %>
    <li id="li<%=i%>" class="list-group-item li-cartlist" data-index="<%= i %>" style="border-radius: 0">
        <div class="row text-center">
            <div class="col-xs-1 col-md-1"><%= i + 1%></div>
            <div class="col-xs-8 col-md-8">
                <div class="row bottom-margin">
                    <div class="col-xs-4 col-md-4 text-left" style="color:#757575"><%= e.barcode%></div>
                    <div class="col-xs-4 col-md-4 text-left" style="display: block;word-break: keep-all;white-space: nowrap;overflow:hidden;text-overflow: ellipsis">(<%=convertPricetypeToText(e.price_type)%>)<%= e.goods_name%></div>
                    <div class="col-xs-4 col-md-4 text-red text-right"><%= e.spec%></div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-md-4 text-left">数量：<%= toDecimal3(abs(e.num)) %></div>
                    <div class="col-xs-4 col-md-4 text-left">单价：<%= toDecimal2(e.price) %></div>
                    <div class="col-xs-4 col-md-4" style="color: #4db6ac;">优惠：- <%= toDecimal2(abs(e.discount)) %></div>
                </div>
            </div>
            <div class="col-xs-3 col-md-3" style="color:#f36c60;"><%= toDecimal2(abs(e.num*e.price-e.discount)) %></div>
        </div>
    </li>
    <% }) %>
</ul>