<div class="panel-heading">退款详情</div>
<div class="panel-body">
    <div class="row bottom-margin">
        <div class="col-md-6 text-center">
            件数：
        </div>
        <div class="col-md-3 text-right">
            <%= itemamount %>
        </div>
    </div>
    <div class="row bottom-margin">
        <div class="col-md-6 text-center">
            优惠：
        </div>
        <div class="col-md-3 text-right text-teal">
            - <%= toDecimal2(discountamount) %>
        </div>
    </div>
    <div class="row bottom-margin" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="col-md-6 text-center">
            退款：
        </div>
        <div class="col-md-3 text-right text-red">
           <%= toDecimal2(totalamount-discountamount) %>
        </div>
    </div>
</div>
<div class="panel-footer no-padding text-center border-top bg-white">
    <div class="row text-center no-margining">
        <div class="col-md-6  no-padding border-right">
            <div class="panel-group returnforce_cancel">取消退货</div>
        </div>
        <div class="col-md-6  no-padding" >
            <div class="panel-group returnforce_billing">结算</div>
        </div>
    </div>
</div>