<!--<div class="panel-heading">退款详情</div>-->
<!--<div class="panel-body">-->
    <!--<div class="row bottom-margin">-->
        <!--<div class="col-md-6 text-center">-->
            <!--件数：-->
        <!--</div>-->
        <!--<div class="col-md-3 text-right">-->
            <!--<%= itemamount %>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row bottom-margin">-->
        <!--<div class="col-md-6 text-center">-->
            <!--优惠：-->
        <!--</div>-->
        <!--<div class="col-md-3 text-right text-teal">-->
            <!-&#45;&#45; <%= toDecimal2(discountamount) %>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row bottom-margin" style="margin-top: 10px;margin-bottom: 10px;">-->
        <!--<div class="col-md-6 text-center">-->
            <!--退款：-->
        <!--</div>-->
        <!--<div class="col-md-3 text-right text-red">-->
           <!--<%= toDecimal2(totalamount-discountamount) %>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="panel-footer no-padding text-center border-top bg-white">-->
    <!--<div class="row text-center no-margining">-->
        <!--<div class="col-md-6  no-padding border-right">-->
            <!--<div class="cart-bottom-btn returnforce_cancel">取消退货</div>-->
        <!--</div>-->
        <!--<div class="col-md-6  no-padding" >-->
            <!--<div class="cart-bottom-btn returnforce_billing">结算</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<% function toDecimal3(x) {
var f = parseFloat(x);
if (isNaN(f)) {
return false;
}
var f = Math.round(x*100)/100;
var s = f.toString();
var rs = s.indexOf('.');
if (rs < 0) {
rs = s.length;
s += '.';
}
while (s.length <= rs + 3) {
s += '0';
}
return s;
}%>

<div class="col-xs-2 col-md-2 cart-billing no-padding text-nowrap">件数：<%= toDecimal3(itemamount)%></div>
<div class="col-xs-3 col-md-3 cart-billing text-teal text-nowrap">优惠： - <%= toDecimal2(discountamount) %></div>
<div class="col-xs-3 col-md-3 cart-billing text-red text-nowrap">退款：<%= toDecimal2(totalamount-discountamount) %></div>
<div class="col-xs-2 col-md-2 no-padding">
    <div class="cart-billing button-highlight rt-cancel">取消退货</div>
</div>
<div class="col-xs-2 col-md-2 no-padding">
    <div class="cart-billing bg-red rt-billing button-caution button-glow">进行结算</div>
</div>