<nav class="navbar" style="background:#337AB7;border-radius: 0px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: #ffffff">初始化</a>
        </div>
    </div>
</nav>
<div class="row no-margining" style="margin-top: 50px">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">商户信息</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 bottom-margin">pos机号：<%= posid %></div>
                    <div class="col-md-12 bottom-margin">商户号：<%= merchantno %></div>
                    <div class="col-md-12 bottom-margin">门店号：<%= shopname %></div>
                    <div class="col-md-12 bottom-margin">商户名称：<%= merchantname %></div>
                </div>
            </div>
            <div class="panel-footer bg-red init-done">
                <div class="row text-center">
                    <div class="col-md-12">完成</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row no-margining">-->
    <!--<div class="col-md-4 col-md-offset-4">-->
        <!--<button class="btn btn-primary btn-block">完成</button>-->
    <!--</div>-->
<!--</div>-->