div {
    font-family: Microsoft YaHei;
}

div .float-numpad {
    width: 330px;
    z-index: 1000;
    position: absolute;
    margin-top: 80px;
    margin-left: 15px;
    box-shadow: 0 4px 8px #9e9e9e;
    display: none;
    opacity: 0.9;
}

body .top-margin-15 {
    margin-top: 15px;
}

body .no-padding {
    padding: 0px;
}

body .no-border-radius {
    border-radius: 0;
}

 div.button-group div.row .pos-button-textsize {
    font-size: 17px;
    white-space: nowrap;
}

div .pos-textsize {
    font-size: 15px;
    white-space: nowrap;
}

table .table-textsize {
    font-size: 15px;
}

ul .cus-selected{
    background: #e1f5fe; !important;
}

body .bottom-margin {
    margin-bottom: 10px;
}

div .no-bottom-margin {
    margin-bottom: 0;
}

div .no-padding {
    padding: 0px;
}

input[readonly=readonly] {

}

div .bg-red {
    color: #FFF;
    background-color: #f36c60;
}

div .bg-teal {
    color: #FFF;
    background-color: #4db6ac;
}

div .bg-highlight {
    color: #FFF;
    background-color: #FEAE1B;
}

div .bg-white{
    background: #FFF;
}

div .left-margin {
    margin-left: 15px;
}

div .right-margin {
    margin-right: 60px;
}

div .right-left-margin {
    margin-right: 15px;
    margin-left: 15px;
}

div .left-padding {
    padding-left: 15px;
}

div .right-padding {
    padding-right: 15px;
}

body .info-padding-right {
    padding-right: 100px;
}

body .info-padding-left {
    padding-left: 100px;
}

body .text-teal {
    color: #4db6ac;
}

body .text-red {
    color: #f36c60;
}

div .no-border {
    border: 0;
}

div .no-margining {
    margin: 0;
}

div .panel-group {
    display: block;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
    line-height: 60px;
    vertical-align: middle;
    margin-bottom: 0;
}

div .clicked {
    background-color: #e0e0e0;
}

div .numpad-ok {
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 17px;
    vertical-align: middle;
    margin-bottom: 0;
}

div .text-primary {
    color: #3277B2; !important;
}

div .cart-billing {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    vertical-align: middle;
    margin-bottom: 0;
}

div .cart-bottom-btn {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    vertical-align: middle;
    margin-bottom: 0;
}

div .border-right-bottom {
    border-right: solid thin #3277B2;
    border-bottom: solid thin #3277B2;
}

div .border-right {
    border-right: solid thin #3277B2;
}

div .border-bottom {
    border-bottom: solid thin #3277B2;
}

div .border-top {
    border-top: solid thin #3277B2;
}

div .border-left {
    border-left: solid thin #3277B2;
}

div .bg-gray {
    color: #FFF;
    background-color: #9e9e9e;
}

div .bg-darkblue {
    color: #FFF;
    background-color: #337AB7;
}

.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px
}

.loginscreen .middle-box {
    width: 300px
}

.animated {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.logo-name {
    font-size: 180px;
    font-weight: 800;
    letter-spacing: 0px;
    margin-bottom: 0
}

.m-t {
    margin-top: 15px
}

.full-width {
    width: 100% !important
}

.m-b {
    margin-bottom: 15px
}

.text-muted {
    color: #fff;
    opacity: .8
}

.nav-pills > li > a {
    border-radius: 0px;
}

.center-vertical {
    position: relative;
    /*top: 50%;*/
    transform: translateY(30%);
}
.changeColor{
    background: #74898a;
}
.changeCss{
    position: absolute;
    display: none;
    z-index: 2;
    margin-left: 45px;
}
.setSelected{
    background: rgba(52,152,219,0.4);
}
.changeVipCss{

}

.client-panel {
    font-size: 20px;
    padding: 15px;
    border: solid thin darkblue;
}

/*.navbar-nav > li > div {*/
    /*padding-bottom: 15px;*/
    /*padding-top: 15px;*/
/*}*/
/*.navbar-nav > li > div {*/
    /*line-height: 20px;*/
    /*padding-bottom: 10px;*/
    /*padding-top: 10px;*/
/*}*/
/*.nav > li > div {*/
    /*display: block;*/
    /*padding: 10px 15px;*/
    /*position: relative;*/
/*}*/
.navbar-nav > li > a:hover,.navbar-nav > li > a:focus{
    color:#74898a!important;
}
