.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.no-padding {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.no-margining {
    margin: 0px;
}