<% function toDecimal2(x) {
var f = parseFloat(x);
if (isNaN(f)) {
return false;
}
var f = Math.round(x*100)/100;
var s = f.toString();
var rs = s.indexOf('.');
if (rs < 0) {
rs = s.length;
s += '.';
}
while (s.length <= rs + 2) {
s += '0';
}
return s;
}%>
<div class="panel panel-primary" style="border: none;margin: 0;">
    <div class="panel-heading pos-textsize">
        <div class="row">
            <div class="col-xs-4 col-md-4"><%= gather_name %></div>
            <div class="col-xs-8 col-md-8">退款金额：<%= toDecimal2(unpaidamount) %></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <input type="text" class="form-control" id="quickpay-account" name="quickpay-account" onkeypress="return myNumberic(event)"onkeyup="return ValidateFloat($(this),value)"
                   placeholder="请输入付款账号">
        </div>
    </div>
</div>
<div class="panel panel-primary left-margin" style="margin-right: 15px">
    <div class="for-numpad">

    </div>
</div>