
<!--<ul class="list-group ul-cart no-margining">-->
    <!--<% _.each(obj,function(e,i){ %>-->
    <!--<li id="paytable<%=i%>" class="list-group-item li-gatherlist" data-index="<%= i %>" style="border-radius: 0;padding-top: 5px;padding-bottom: 5px;">-->
        <!--<div class="row text-center">-->
            <!--<div class="col-xs-4 col-md-4"><%= e.gather_id %><%= e.gather_name %></div>-->
            <!--<div class="col-xs-4 col-md-4"><%= toDecimal2(e.num) %></div>-->
            <!--<div class="col-xs-4 col-md-4" style="color:#f36c60;"><%= toDecimal2(e.sum) %></div>-->
        <!--</div>-->
    <!--</li>-->
    <!--<% }) %>-->
<!--</ul>-->