<% function toDecimal2(x) {
var f = parseFloat(x);
if (isNaN(f)) {
return false;
}
var f = Math.round(x*100)/100;
var s = f.toString();
var rs = s.indexOf('.');
if (rs < 0) {
rs = s.length;
s += '.';
}
while (s.length <= rs + 2) {
s += '0';
}
return s;
}%>

<ul class="list-group no-margining">
    <% _.each(obj,function(e, i) {%>
        <li class="list-group-item " style="border-radius: 0">
            <div class="row">
                <div class="col-md-4"><%= e.goods_name %></div>
                <div class="col-md-4"><%= e.num %></div>
                <div class="col-md-4"><%= toDecimal2(e.num*e.price-e.discount) %></div>
            </div>
        </li>
    <% }) %>
</ul>