<% function toDecimal2(x) {
var f = parseFloat(x);
if (isNaN(f)) {
return false;
}
var f = Math.round(x*100)/100;
var s = f.toString();
var rs = s.indexOf('.');
if (rs < 0) {
rs = s.length;
s += '.';
}
while (s.length <= rs + 2) {
s += '0';
}
return s;
}%>

<ul class="list-group no-margining">
    <% _.each(obj,function(e, i) {%>
    <li class="list-group-item " style="border-radius: 0">
        <div class="row">
            <div class="cols-xs-6 col-md-6"><%= e.gather_id %><%= e.gather_name %></div>
            <div class="cols-xs-6 col-md-6"><%= toDecimal2(e.gather_money) %></div>
        </div>
    </li>
    <% }) %>
</ul>