<% function toDecimal2(x) {
var f = parseFloat(x);
if (isNaN(f)) {
return false;
}
var f = Math.round(x*100)/100;
var s = f.toString();
var rs = s.indexOf('.');
if (rs < 0) {
rs = s.length;
s += '.';
}
while (s.length <= rs + 2) {
s += '0';
}
return s;
}%>


<div class="panel" style="border: none;margin: 0;">
    <div class="panel-body">
        <div class="row m-b">
            <div class="col-xs-6 col-md-6 text-right pos-textsize no-padding">退款金额：</div>
            <div class="col-xs-6 col-md-6 text-left text-red no-padding" style="font-size: 18px">￥<%= toDecimal2(gather_money) %></div>
        </div>
        <div class="form-group no-margining">
            <label class="sr-only" for="alipay-account">Email address</label>
            <input type="text" class="form-control" id="alipay-account" name="alipay-account"
                   onkeyup="return ValidateFloat($(this),value)" onkeypress="return myNumberic(event)" placeholder="请输入支付宝订单号">
        </div>
    </div>
</div>
<div class="panel panel-primary left-margin" style="margin-right: 15px">
    <div class="for-numpad">

    </div>
</div>

