<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body" style="padding: 0">
            <div class="panel panel-primary" style="border: none;margin: 0;">
                <div class="panel-heading">帮助</div>
                <div class="panel-body">
                    <div class="row">
                        <% _.each(obj,function(e,i){ %>
                            <div class="col-md-3 bottom-margin"><%= e.effect %> : </div>
                            <div class="col-md-3 bottom-margin"><%= e.key %></div>
                        <% }) %>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="panel panel-primary" style="margin-bottom: 0">
                                <div class="row no-margining text-center">
                                    <div class="col-md-12 no-padding">
                                        <div class="numpad-ok bg-red tipclose">关闭</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

