<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">会员基本信息</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 bottom-margin">卡号：<%= medium_id %></div>
                </div>
                <div class="row">
                    <div class="col-md-12 bottom-margin">姓名：<%= name %></div>
                </div>
                <div class="row">
                    <div class="col-md-12 bottom-margin">地址：<%= address %></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">储值信息</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 bottom-margin">积分：<%= score_balance %></div>
                </div>
                <div class="row">
                    <div class="col-md-12 bottom-margin">储值：￥ <%= account_balance %></div>
                </div>
                <div class="row">
                    <div class="col-md-12 bottom-margin">有效期：<%= account_enddate %></div>
                </div>
            </div>
        </div>
    </div>
</div>

