<% function toDecimal2(x) {
var f = parseFloat(x);
if (isNaN(f)) {
return false;
}
var f = Math.round(x*100)/100;
var s = f.toString();
var rs = s.indexOf('.');
if (rs < 0) {
rs = s.length;
s += '.';
}
while (s.length <= rs + 2) {
s += '0';
}
return s;
}%>

<div class="panel panel-primary" style="border: none;margin: 0;">
    <div class="panel-body">
        <div class="row m-b">
            <div class="col-xs-6 col-md-6 text-right pos-textsize no-padding">退款金额：</div>
            <div class="col-xs-6 col-md-6 text-left text-red no-padding" style="font-size: 18px">￥<%= toDecimal2(receivedsum) %></div>
        </div>
        <div class="row">
            <div class="for-billingtype">
            </div>
        </div>
        <div class="row no-margining">
            <div class="col-xs-12 col-md-12 button-group">
                <div class="row ">
                    <button type="button" class="col-xs-6 col-md-6 button button-block button-highlight button-rounded button-border pos-button-textsize no-padding cancel">取消</button>
                    <button type="button" class="col-xs-6 col-md-6 button button-block button-caution  button-rounded button-border pos-button-textsize no-padding ok">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>

