<div class="panel-heading">
    <div class="row">
        <div class="col-md-6 text-center">
           收款员：<%= name %>
        </div>
        <div class="col-md-6 text-center">
            <%= pos %>
        </div>
    </div>
</div>
<div class="panel-body">
    <div class="row bottom-margin">
        <div class="col-md-6 text-center">
            件数：
        </div>
        <div class="col-md-3 text-right">
            <%= itemamount %>
        </div>
    </div>
    <div class="row bottom-margin">
        <div class="col-md-6 text-center">
            优惠：
        </div>
        <div class="col-md-3 text-right text-teal">
           - <%= toDecimal2(discountamount) %>
        </div>
    </div>
    <div class="row bottom-margin">
        <div class="col-md-6 text-center">
            总计：
        </div>
        <div class="col-md-3 text-right text-red">
            <%= toDecimal2(totalamount-discountamount) %>
        </div>
    </div>
</div>
<div class="panel-footer no-padding text-center border-top bg-white">
    <div class="row text-center no-margining">
        <div class="col-md-6  no-padding border-right bg-teal">
            <div class="panel-group">开启小键盘</div>
        </div>
        <div class="col-md-6  no-padding" >
            <div class="panel-group bg-red billing">结算</div>
        </div>
    </div>
</div>