<!--<div class="panel-heading" >-->
    <!--营业员会员登录-->
<!--</div>-->
<div class="panel-heading">
    <div class="row">
        <div class="col-xs-6 col-md-6 text-center">
            收款员：<%= name %>
        </div>
        <div class="col-xs-6 col-md-6 text-center">
            <%= pos %>
        </div>
    </div>
</div>
<div class="panel-body">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-xs-6 col-md-6 text-center">会员：</div>
        <div class="col-xs-6 col-md-6 text-center"><%=member%></div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6 text-center">营业员：</div>
        <div class="col-xs-6 col-md-6 text-center"><%=salesman%></div>
    </div>
</div>
<div class="panel-footer no-padding" style="background: #ffffff; border-top: 1px solid #3073AD;">
    <div class="row text-center no-margining">
        <!--<div class="col-md-6 no-padding">-->
            <!--<div class="cbtn cart-bottom-btn no-padding border-right salesman">营业员登录</div>-->
        <!--</div>-->
        <!--<div class="col-md-6 no-padding">-->
            <!--<div class="cbtn cart-bottom-btn no-padding member">会员登录</div>-->
        <!--</div>-->
        <div class="row no-margining">
            <div class="col-xs-12 col-md-12 button-group">
                <div class="row">
                    <button type="button" class="col-xs-6 col-md-6 button button-border button-primary pos-button-textsize salesman">营业员登录</button>
                    <button type="button" class="col-xs-6 col-md-6 button button-border button-primary pos-button-textsize  member">会员登录</button>
                </div>
            </div>
        </div>

    </div>
</div>