<% function toDecimal2(x) {
var f = parseFloat(x);
if (isNaN(f)) {
return false;
}
var f = Math.round(x*100)/100;
var s = f.toString();
var rs = s.indexOf('.');
if (rs < 0) {
rs = s.length;
s += '.';
}
while (s.length <= rs + 2) {
s += '0';
}
return s;
}%>
<div class="panel panel-primary" style="border: none;margin: 0;">
    <div class="panel-heading pos-textsize">银行卡付款确认</div>
    <div class="panel-body">
        <div class="row">
            <div class="text-center text-primary bottom-margin" style="font-size:18px;">付款金额：<%= toDecimal2(gather_money) %></div>
        </div>
        <div class="row no-margining">
            <div class="col-xs-12 col-md-12 button-group">
                <div class="row">
                    <button type="button" class="col-xs-6 col-md-6 button button-block button-highlight button-rounded button-border no-padding pos-button-textsize cancel">取消</button>
                    <button type="button" class="col-xs-6 col-md-6 button button-block button-caution button-rounded button-border no-padding pos-button-textsize ok">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>


