<% function toDecimal2(x) {
var f = parseFloat(x);
if (isNaN(f)) {
return false;
}
var f = Math.round(x*100)/100;
var s = f.toString();
var rs = s.indexOf('.');
if (rs < 0) {
rs = s.length;
s += '.';
}
while (s.length <= rs + 2) {
s += '0';
}
return s;
}%>

<div class="modal-dialog modal-sm modal-type">
    <div class="modal-content">
        <div class="modal-body" style="padding: 0">
            <div class="panel panel-primary" style="border: none;margin: 0;">
                <div class="panel-heading pos-textsize">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">微信</div>
                        <div class="col-xs-8 col-md-8" style="text-align: right">支付金额：<%= toDecimal2(receivedsum) %></div>
                    </div>
                </div>
                <div class="panel-body">
                       <div class="form-group no-margining">
                           <label class="sr-only" for="wechat-account">wechat account</label>
                           <input type="text" class="form-control" id="wechat-account" placeholder="请输入微信账号" name="wechat-account" onkeypress="return myNumberic(event)" onkeyup="return ValidateFloat($(this),value)"/>
                       </div>
                </div>
                <div class="panel panel-primary left-margin" style="margin-right: 15px">
                    <div class="for-numpad">

                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

