<% function toDecimal2(x) {
var f = parseFloat(x);
if (isNaN(f)) {
return false;
}
var f = Math.round(x*100)/100;
var s = f.toString();
var rs = s.indexOf('.');
if (rs < 0) {
rs = s.length;
s += '.';
}
while (s.length <= rs + 2) {
s += '0';
}
return s;
}%>

<div class="modal-dialog modal-sm modal-type">
    <div class="modal-content">
        <div class="modal-body" style="padding: 0">
            <div class="panel panel-primary" style="border: none;margin: 0;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">微信</div>
                        <div class="col-xs-8 col-md-8">支付金额：<%= toDecimal2(receivedsum) %></div>
                    </div>
                </div>
                <div class="panel-body">
                   <div class="row">
                       <div class="col-xs-12 col-md-12">
                           <form>
                               <input type="text" class="form-control" id="wechat-account" name="wechat-account" onkeypress="return myNumberic(event)"/>
                               <input type="text" style="display: none"/>
                           </form>
                       </div>
                   </div>
                </div>
            <div class="panel panel-primary left-margin" style="margin-right: 15px">
                <div class="row no-margining text-center">
                    <div class="col-xs-3 col-md-3 no-padding">
                        <div class="cbtn btn-num panel-group border-right-bottom" data-num="7">7</div>
                    </div>
                    <div class="col-xs-3 col-md-3 no-padding">
                        <div class="cbtn btn-num panel-group border-right-bottom" data-num="8">8</div>
                    </div>
                    <div class="col-xs-3 col-md-3 no-padding">
                        <div class="cbtn btn-num panel-group border-right-bottom" data-num="9">9</div>
                    </div>
                    <div class="col-xs-3 col-md-3 no-padding">
                        <div class="cbtn btn-backspace panel-group border-bottom">←</div>
                    </div>
                </div>
                <div class="row no-margining text-center">
                    <div class="col-xs-3 col-md-3 no-padding">
                        <div class="cbtn btn-num panel-group border-right-bottom" data-num="4">4</div>
                    </div>
                    <div class="col-xs-3 col-md-3 no-padding">
                        <div class="cbtn btn-num panel-group border-right-bottom" data-num="5">5</div>
                    </div>
                    <div class="col-xs-3 col-md-3 no-padding">
                        <div class="cbtn btn-num panel-group border-right-bottom" data-num="6">6</div>
                    </div>
                    <div class="col-xs-3 col-md-3 no-padding">
                        <div class="cbtn btn-clear panel-group border-bottom">C</div>
                    </div>
                </div>
                <div class="row no-margining text-center">
                    <div class="col-xs-3 col-md-3 no-padding">
                        <div class="cbtn btn-num panel-group border-right-bottom" data-num="1">1</div>
                    </div>
                    <div class="col-xs-3 col-md-3 no-padding">
                        <div class="cbtn btn-num panel-group border-right-bottom" data-num="2">2</div>
                    </div>
                    <div class="col-xs-3 col-md-3 no-padding">
                        <div class="cbtn btn-num panel-group border-right-bottom" data-num="3">3</div>
                    </div>
                    <div class="col-xs-3 col-md-3 no-padding">
                        <div class="cbtn numpad-ok border-bottom bg-highlight cancel">取消</div>
                    </div>
                </div>
                <div class="row no-margining text-center">
                    <div class="col-xs-6 col-md-6 no-padding">
                        <div class="cbtn btn-num panel-group border-right" data-num="0">0</div>
                    </div>
                    <div class="col-xs-3 col-md-3 no-padding">
                        <div class="cbtn btn-num panel-group border-right" data-num=".">.</div>
                    </div>
                    <div class="col-xs-3 col-md-3 no-padding">
                        <div class="cbtn numpad-ok bg-red ok">确定</div>
                    </div>
                </div>
                <!--<div class="row no-margining text-center">-->
                <!--<div class="col-md-6 no-padding">-->
                <!--<div class="panel-group border-right bg-red cancel">取消</div>-->
                <!--</div>-->
                <!--<div class="col-md-6 no-padding">-->
                <!--<div class="panel-group bg-teal ok">确定</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

