<div class="panel panel-primary" style="border: none;margin: 0;">
    <div class="panel-body">
        <div class="row bottom-margin">
            <div class="col-md-3 text-right">会员卡号：</div>
            <div class="col-md-9"><%= medium_id %></div>
        </div>
        <div class="row bottom-margin">
            <div class="col-md-3 text-right">会员姓名：</div>
            <div class="col-md-9"><%= name %></div>
        </div>
        <div class="row bottom-margin">
            <div class="col-md-3 text-right">积分余额：</div>
            <div class="col-md-9"><%= score_balance %></div>
        </div>
        <div class="row bottom-margin">
            <div class="col-md-3 text-right">储值余额：</div>
            <div class="col-md-9"><%= account_balance %></div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-4 col-xs-offset-2 col-md-offset-2">
                <button type="button" class="button button-highlight button-border button-rounded button-block cancel">取消</button>
            </div>
            <div class="col-xs-4 col-md-4">
                <button type="button" class="button button-caution button-border button-rounded button-block ok">登录</button>
            </div>
        </div>
    </div>
</div>