<% function toDecimal3(x) {
var f = parseFloat(x);
if (isNaN(f)) {
return false;
}
var f = Math.round(x*100)/100;
var s = f.toString();
var rs = s.indexOf('.');
if (rs < 0) {
rs = s.length;
s += '.';
}
while (s.length <= rs + 3) {
s += '0';
}
return s;
}%>

<!--<div class="panel-heading">退款详情</div>-->
<!--<div class="panel-body">-->
    <!--<div class="row bottom-margin">-->
        <!--<div class="col-md-6 text-center">-->
            <!--件数：-->
        <!--</div>-->
        <!--<div class="col-md-6 text-right info-padding-right">-->
            <!--<%= itemamount %>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row bottom-margin">-->
        <!--<div class="col-md-6 text-center">-->
            <!--优惠：-->
        <!--</div>-->
        <!--<div class="col-md-6 text-right info-padding-right text-teal">-->
            <!-&#45;&#45; <%= toDecimal2(discountamount) %>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row" style="margin-top: 10px;margin-bottom: 10px;">-->
        <!--<div class="col-md-6 text-center">-->
            <!--退款：-->
        <!--</div>-->
        <!--<div class="col-md-6 text-right info-padding-right text-red">-->
            <!--<%= toDecimal2(totalamount-discountamount) %>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="panel-footer no-padding">-->
    <!--<div class="row text-center no-margining">-->
        <!--<div class="col-md-6 panel-group cancel">取消退货</div>-->
        <!--<div class="col-md-6 panel-group bg-red billing">结算</div>-->
    <!--</div>-->
<!--</div>-->
<div class="row">
    <div class="col-xs-3 col-md-3 cart-bottom-btn no-padding text-nowrap">件数：<%= toDecimal3(itemamount) %></div>
    <div class="col-xs-4 col-md-4 cart-bottom-btn text-teal text-nowrap">优惠：  - <%= toDecimal2(discountamount) %></div>
    <div class="col-xs-4 col-md-4 cart-bottom-btn text-red text-nowrap">总计： <%= toDecimal2(totalamount-discountamount) %></div>
</div>
<div class=“row">
    <button type="button" class="col-xs-2 col-md-2 button button-border button-primary pos-button-textsize rt-keyup">↑</button>
    <button type="button" class="col-xs-2 col-md-2 button button-border button-primary pos-button-textsize rt-keydown">↓</button>
    <button type="button" class="col-xs-2 col-md-2 button button-border button-primary pos-button-textsize rt-delete">删除</button>
    <div class="col-xs-3 col-md-3 no-padding">
        <div class="cart-billing button-highlight rt-cancel">取消退货</div>
    </div>
    <div class="col-xs-3 col-md-3 no-padding">
        <div class="cart-billing bg-red button-caution button-glow rt-billing">进行结算</div>
    </div>
</div>